.nft__section__container {
  background: rgb(255, 255, 255);
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(85, 197, 255, 1) 50%,
    rgba(0, 168, 255, 1) 100%
  );
  padding: 10rem 1rem;
}

.nft__box__heading {
  text-transform: uppercase;
  font-family: "Sanspstb", cursive, sans-serif;
  color: #fff;
  -webkit-filter: drop-shadow(3px 3px 3px #555);
  filter: drop-shadow(3px 3px 3px #555);
  letter-spacing: 1px;
  font-size: 1.2rem;
}

.nft__sub__text__container {
  width: 50%;
  margin: 2rem auto;
}

.nft__sub__text {
  margin: 0;
  margin-top: 10px;
  color: #ffe400;
  text-align: center;
  font-family: "Sanspstb", cursive, sans-serif;
  font-size: 0.8rem;
}

.nft__image__container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.image__grid {
  padding: 1rem 2rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 15px;
  row-gap: 15px;
}

.border__left {
  border-left: 2px solid #ffe400;
}

.border__right {
  border-right: 2px solid #ffe400;
}

.image__grid img {
  width: 100px;
  height: 100px;
  border-radius: 6px;
  -webkit-filter: drop-shadow(5px 5px 5px #a0aec0);
  filter: drop-shadow(5px 5px 5px #a0aec0);
  cursor: pointer;
  transition: 0.2s all;
}

.image__grid img:hover {
  -webkit-filter: drop-shadow(5px 5px 5px #718096);
  filter: drop-shadow(5px 5px 5px #718096);
}

/* Small devices (landscape phones, 576px and up) */
@media (max-width: 576px) { 
  .border__left, .border__right {
    border: 0;
  }

  .nft__image__container {
    flex-direction: column;
  }
}

/* Medium devices (tablets, 768px and up) */
@media (max-width: 768px) { }

/* Large devices (desktops, 992px and up) */
@media (max-width: 992px) { }

/* X-Large devices (large desktops, 1200px and up) */
@media (max-width: 1200px) { }

/* XX-Large devices (larger desktops, 1400px and up) */
@media (max-width: 1400px) { }
