.hero__header {
  color: #00a8ff;
  font-family: "Sanspstb", cursive, sans-serif;
}
.hero__sub__header {
  color: #00a8ff;
  font-weight: 500;
}

.custom__btn {
  background-color: #ffe400;
  font-size: 1rem;
  color: #00a8ff;
  font-family: "Sanspstb", cursive, sans-serif;
  padding: 5px;
  border: 1px solid #fff;
  border-radius: 5px;
  transition: 0.2s all;
}

.custom__btn:hover {
  transform: skewX(10deg);
}

.hero__container {
  height: 90vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url(../../assets//images/hero-image.png);
  background-repeat: no-repeat;
  background-position: bottom left;
  background-size: 20%;
}