.hero__header {
  color: #fff;
  font-family: "Sanspstb", cursive, sans-serif;
}
.hero__sub__header {
  color: #fff;
  font-weight: 500;
}

.custom__btn {
  background-color: #fff;
  color: #00a8ff;
  font-size: 1rem;
  font-family: "Sanspstb", cursive, sans-serif;
  padding: 5px;
  border: 1px solid #fff;
  border-radius: 5px;
}