.logo {
  width: 50px;
}

.custom__nav {
  margin-left: auto;
  margin-right: 1rem;
}

.custom__nav .nav-link {
  text-transform: uppercase;
  font-family: "Sanspstb", cursive, sans-serif;
  font-size: 1rem;
  color: #00a8ff !important;
}

.custom__connect__btn {
  background-color: #ffe400;
  color: #00a8ff;
  font-size: 1rem;
  font-family: "Sanspstb", cursive, sans-serif;
  padding: 5px;
  border: 1px solid #fff;
  border-radius: 5px;
}

/* Small devices (landscape phones, 576px and up) */
@media (max-width: 576px) { 
  
}

/* Medium devices (tablets, 768px and up) */
@media (max-width: 768px) { }

/* Large devices (desktops, 992px and up) */
@media (max-width: 992px) {
  #logo__container {
    margin: 0 auto;
  }
 }

/* X-Large devices (large desktops, 1200px and up) */
@media (max-width: 1200px) { }

/* XX-Large devices (larger desktops, 1400px and up) */
@media (max-width: 1400px) { }