@font-face {
  font-family: "Sanspstb";
  src: url(./assets/fonts/SansPosterBold.ttf);
}

@font-face {
  font-family: "Aileron";
  src: url(./assets/fonts/Aileron-Regular.otf);
}

.remove__link__style {
  text-decoration: none;
  color: inherit;
}

.bg__primary {
  background-color: #00a8ff;
}
