@font-face {
  font-family: "Sanspstb";
  src: url(./assets/fonts/SansPosterBold.ttf);
}

@font-face {
  font-family: "Aileron";
  src: url(./assets/fonts/Aileron-Regular.otf);
}

body {
  background: rgb(0, 168, 255);
  background: radial-gradient(
    circle,
    rgba(0, 168, 255, 1) 0%,
    rgba(0, 0, 0, 1) 63%
  );
  
}
